<?xml version="1.0" encoding="UTF-8"?>
<phpunit>

    <testsuites>

        <testsuite name="all">
            <file>installer/test-installer.php</file>
            <file>installer/test-clean.php</file>

            <file>frontend/test-user.php</file>
            <file>frontend/test-contact.php</file>
            <file>frontend/test-page.php</file>
            <file>frontend/test-items.php</file>
            <file>frontend/test-search.php</file>

        </testsuite>

        <testsuite name="installer">
            <file>installer/test-installer.php</file>
            <file>installer/test-clean.php</file>
        </testsuite>

        <testsuite name="clean">
            <file>installer/test-clean.php</file>
        </testsuite>

        <testsuite name="frontend">
            <file>frontend/test-user.php</file>
            <file>frontend/test-contact.php</file>
            <file>frontend/test-page.php</file>
            <file>frontend/test-items.php</file>
            <file>frontend/test-search.php</file>
        </testsuite>

        <testsuite name="fe-user">
            <file>frontend/test-user.php</file>
        </testsuite>

        <testsuite name="fe-contact">
            <file>frontend/test-contact.php</file>
        </testsuite>

        <testsuite name="fe-page">
            <file>frontend/test-page.php</file>
        </testsuite>

        <testsuite name="fe-items">
            <file>frontend/test-items.php</file>
        </testsuite>

        <testsuite name="fe-search">
            <file>frontend/test-search.php</file>
        </testsuite>

    </testsuites>

</phpunit>