<?xml version="1.0" encoding="UTF-8"?>
<phpunit>

    <testsuites>

        <testsuite name="all">
            <file>installer/test-installer.php</file>
            <file>installer/test-clean.php</file>

            <file>frontend/test-user.php</file>
            <file>frontend/test-contact.php</file>
            <file>frontend/test-page.php</file>
            <file>frontend/test-items.php</file>
            <file>frontend/test-search.php</file>

            <file>admin/test-page.php</file>
            <file>admin/test-users.php</file>
            <file>admin/test-theme.php</file>
            <file>admin/test-categories.php</file>
            <file>admin/test-csrf.php</file>
            <file>admin/test-cfields.php</file>
            <file>admin/test-email.php</file>
            <file>admin/test-item.php</file>
            <file>admin/test-language.php</file>
            <file>admin/test-market.php</file>
            <file>admin/test-moderator.php</file>
            <file>admin/test-plugin.php</file>
            <file>admin/test-reported.php</file>
            <file>admin/test-stats.php</file>
            <file>admin/test-tools.php</file>
            <file>admin/test-settings.php</file>
        </testsuite>

        <testsuite name="installer">
            <file>installer/test-installer.php</file>
            <file>installer/test-clean.php</file>
        </testsuite>

        <testsuite name="installer-only">
            <file>installer/test-installer.php</file>
        </testsuite>

        <testsuite name="clean">
            <file>installer/test-clean.php</file>
        </testsuite>

        <testsuite name="frontend">
            <file>frontend/test-user.php</file>
            <file>frontend/test-contact.php</file>
            <file>frontend/test-page.php</file>
            <file>frontend/test-items.php</file>
            <file>frontend/test-search.php</file>
        </testsuite>

        <testsuite name="fe-user">
            <file>frontend/test-user.php</file>
        </testsuite>

        <testsuite name="fe-contact">
            <file>frontend/test-contact.php</file>
        </testsuite>

        <testsuite name="fe-page">
            <file>frontend/test-page.php</file>
        </testsuite>

        <testsuite name="fe-items">
            <file>frontend/test-items.php</file>
        </testsuite>

        <testsuite name="fe-search">
            <file>frontend/test-search.php</file>
        </testsuite>

        <testsuite name="admin-all">
            <file>admin/test-page.php</file>
            <file>admin/test-users.php</file>
            <file>admin/test-theme.php</file>
            <file>admin/test-categories.php</file>
            <file>admin/test-csrf.php</file>
            <file>admin/test-cfields.php</file>
            <file>admin/test-email.php</file>
            <file>admin/test-item.php</file>
            <file>admin/test-language.php</file>
            <file>admin/test-market.php</file>
            <file>admin/test-moderator.php</file>
            <file>admin/test-plugin.php</file>
            <file>admin/test-reported.php</file>
            <file>admin/test-stats.php</file>
            <file>admin/test-tools.php</file>
            <file>admin/test-settings.php</file>
        </testsuite>

        <testsuite name="adm-page">
            <file>admin/test-page.php</file>
        </testsuite>

        <testsuite name="adm-user">
            <file>admin/test-users.php</file>
        </testsuite>

        <testsuite name="adm-theme">
            <file>admin/test-theme.php</file>
        </testsuite>

        <testsuite name="adm-categories">
            <file>admin/test-categories.php</file>
        </testsuite>

        <testsuite name="adm-csrf">
            <file>admin/test-csrf.php</file>
        </testsuite>

        <testsuite name="adm-cfields">
            <file>admin/test-cfields.php</file>
        </testsuite>

        <testsuite name="adm-email">
            <file>admin/test-email.php</file>
        </testsuite>

        <testsuite name="adm-item">
            <file>admin/test-item.php</file>
        </testsuite>

        <testsuite name="adm-language">
            <file>admin/test-language.php</file>
        </testsuite>

        <testsuite name="adm-market">
            <file>admin/test-market.php</file>
        </testsuite>

        <testsuite name="adm-moderator">
            <file>admin/test-moderator.php</file>
        </testsuite>

        <testsuite name="adm-plugin">
            <file>admin/test-plugin.php</file>
        </testsuite>

        <testsuite name="adm-reported">
            <file>admin/test-reported.php</file>
        </testsuite>

        <testsuite name="adm-settings">
            <file>admin/test-settings.php</file>
        </testsuite>

        <testsuite name="adm-stats">
            <file>admin/test-stats.php</file>
        </testsuite>

        <testsuite name="adm-tools">
            <file>admin/test-tools.php</file>
        </testsuite>

        <testsuite name="adm-perm-on">
            <file>admin/test-perm-on.php</file>
        </testsuite>

        <testsuite name="adm-perm-off">
            <file>admin/test-perm-off.php</file>
        </testsuite>

    </testsuites>

</phpunit>